<div class="navbar navbar-default" ng-controller='NavbarCtrl'>
  <div class="container">
    <div class="navbar-header">
      <button class='navbar-toggle' type='button' ng-click='isCollapsed = !isCollapsed'>
        <span class='sr-only'>Toggle naviagation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a href="/" class='navbar-brand'>Testing the waters</a>
    </div>
    <div class="navbar-collapse collapse" id='navbar-main' collapse='isCollapsed'>
      <ul class='nav navbar-nav'>
        <li ng-repeat='item in menu' ui-sref-active='active'>
          <a ui-sref='{{item.state}}'>{{item.title}}</a>
        </li>
      </ul>

      <form class='navbar-form navbar-left' role='search'>
        <div class="form-group">
          <div class="input-group">
            <span class='input-group-addon'><span class='fa fa-search'></span></span>
            <input type="text" id='searchBox' class='form-control input-large' placeholder='Search' ng-modle='searchTerm' ng-change='search()' ng-focuse='redirect()'>
          </div>
        </div>
      </form>
      <p class='navbar-text navbar-right'>View Project on <a href="">GitHub</a></p>
    </div>
  </div>
</div>
