<div class="container">
  <header class='header'>
    <h1>Firebase Authentication
    <span>A demo of authentication with Google+ and Girhub using FIrebase + angularjs</span></h1>
  </header>

  <section class='content' ng-controller='MainController as mainVm'>
    <div class='box'>
      <button class='button button--isi button--border-thin button--size-s button--round-s' ng-click='mainVm.navigateTo("home")'>
        <i class='fa fa-home fa-2x'></i>
        <span>Home</span>
      </button>
      <button class='button button--isi button--border-thin button--size-s button--round-s' ng-click='mainVm.navigateTo("authenticated")'>
        <i class='fa fa-user-secret fa-2x'></i>
        <span>Authenticated</span>
      </button>
    </div>
    <div class='box bg-1'>
      <ui-view>
        <h2>This is where we will write our updates</h2>
      </ui-view>
    </div>
    <div class='box' ng-controller='loginController as vm'>
      <button class='button button--isi buttonn--border-thin button--size-s button--round-s' ng-click='vm.googleLogin()' ng-show='!vm.isLoggedIn'>
        <i class='fa fa-google-plus-square fa-2x'></i>
        <span>Google+</span>
      </button>
      <button class='button button--isi button--border-thin button--size-s button--round-s' ng-click='vm.githubLogin()' ng-show='!wm.isLoggedIn'>
        <i class='fa fa-github fa-2x'></i>
        <span>Github</span>
      </button>
      <button class='button button--isi button--border-thin button--size-s button--round-s' ng-click='vm.logout()' ng-show='vm.isLoggedIn'>
        <i class='fa fa-sign-out fa-2x'></i>
        <span>Logout</span>
      </button>
    </div>
  </section>
</div>
